/* resources/css/app.css */

/* 1. Gunakan tiga direktif standar Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2. Impor custom style Anda yang lain bisa tetap di sini jika diperlukan */
/* File-file berikut tidak ditemukan, sehingga di-comment untuk sekarang */
/* @import './_checkbox-radio-switch.css'; */
/* @import './_progress.css'; */
/* @import './_scrollbars.css'; */
/* @import './_table.css'; */